
@model EcommerceUserPanel.Models.Customers
@{
    ViewData["Title"] = "Password";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .tb {
        margin-left: 100px;
    }

    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        width: 190px;
        position: fixed;
        z-index: 1;
        top: 20px;
        left: -10px;
        background: black;
        overflow-x: hidden;
        padding: 8px 0;
        height: 700px;
    }

        .sidenav a {
            padding: 50px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
        }

            .sidenav a:hover {
                color: #064579;
            }

    .main {
        margin-left: 140px; /* Same width as the sidebar + left position in px */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    media screen and (max-height: 450px) {
        .sidenav

    {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
    }
</style>
<div class="sidenav">
 
    <a class="nav-link" asp-controller="customer" asp-action="OrderHistory">My Orders</a>
    <a class="nav-link" asp-controller="customer" asp-action="CustomerEdit">Edit Profile</a>
    <a class="nav-link" asp-controller="customer" asp-action="Password">Change Password</a>
    <a class="nav-link" asp-controller="Home" asp-action="Feedback">Feedback</a>
</div>
<h2>Password</h2>
<form asp-action="Password" method="post" asp-controller="Customer">
    <div class="form-label-group">
        <input type="text" name="oldpassword" class="form-control" placeholder="oldpassword" />
        <label for="password" class="sr-only">Old Password</label>
    </div>
    &nbsp;
    <div class="form-label-group">
        <input type="password" name="newpassword" class="form-control" placeholder="NewPassword" />
        <label for="password" class="sr-only">New Password</label>
    </div>
    <div class="form-label-group">
        <input type="password" name="newpassword1" class="form-control" placeholder="NewPassword1" />
        <p>
            @ViewBag.Error
        </p>
        @*<label for="password" class="custom-control-label">Confirm  Password</label>*@
    </div>
    <center>
        @*<input type="submit" value="Edit" class="btn btn-success" />&nbsp;*@
        <button class="btn btn-success" type="submit">
            Sign in
        </button>

    </center>
</form>